@import "./../global/main.css";

iframe {
    width: 70%;
    height: 720px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#title {
    width: 100%;
    margin-top: 30px;
}

.title-contents {
    color: black;
    font-family: Trebuchet MS;
    font-size: xxx-large;
}

.video-container {
    display: block;
    text-align: center;
}

hr {
    color: blue;
}
