@import "main.css";
@import "slider.css";

/* Text Contents (some inherited) */
#main {
    width: 100%;
}

p {
    color: black;
    font-family: 'Trebuchet MS', 'Verdana', Arial, sans-serif;
}

.main-contents {
    width: 100%;
    text-align: center;
}

/* Modified Inherited Other Stuff Content */
button {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: black;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    font-family: Verdana, 'Trebuchet MS', Tahoma, sans-serif;
    font-size: 20px;

    cursor: hand;
}

/* Paint Contents */
.paint-container {
    border: 1px solid grey;
    border-radius: 5px;

    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.paint {
    width: 80%;
    padding: 20px;

    display: flex;
    justify-content: center;
}

#canvas {
    background-color: white;
    border: 2px solid black;

    cursor: crosshair;
}

.paint-buttons {
    width: 20%;

    padding: 10px;
    display: flex;
}

.dropdown-btn {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
}