@import "main.css";

iframe {
    width: 1280px;
    height: 720px;
}

#title {
    width: 100%;
}

.title-contents {
    color: aqua;
}

#videos {
    display: flex;
    justify-content: center;
}
